*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
 
:root {                               /* :root is available for every scope */
    --primary-orange : #F37021;    /* (--primary-orange) is the variable name and : its value */ 
}


html , body {
    max-width: 100%;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 30px;   
    background-color: #172937;
    color: white;
}

.brand-container{
    display: flex;
    align-items: center;
    gap: 12px;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.brand-logo{
    border-radius: 100%;  
}

nav ul ,
nav {
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #f2f2f2;
    list-style: none;
    gap: 50px;
    
} 

.resume-cta{
    font-size: 18px;
    line-height: 27px;
    color: white;
    border: 1px solid var(--primary-orange);
    border-radius: 8px;
    padding: 6px 24px;    /*padding-block : top-bottom  padding-inline: left-right*/
    background-color: #172937; 
}

.resume-cta:hover{
    color: #172937;
    background-color: var(--primary-orange);
    cursor: pointer;
}

.resume-cta:active{
    border: 1px solid black;
    box-shadow: inset 0 0 4px 2px rgba(0 , 0 , 0 , 0.8);  /* same syntax for text-shadow */
}

.intro{
    display: flex;
    color: white;
    background-color: #172937;
    padding: 62px 72px;
}

.intro-content{
    flex: 1;  /* flex: 1 === flex-grow: 1 */
}

.intro-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 70px;
}

.intro-subtitle{
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
}

.intro-subtitle strong {
    color: var(--primary-orange);
}

.intro-description{
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    max-width: 584px;
}

.intro-image{
    border-radius: 100%;
}

.my-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.my-skills h1 span{
    color: var(--primary-orange);
}

